.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5%;
  font-weight: 800;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);
}

.header-dark {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.header-light {
  background: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.home-link{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.main-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
}

.theme {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme-icon {
  padding: 5px 10px;
  width: 15px;
  margin-right: 5px;
}
