.navbar-container {
  width: 90vw;  
  height: 190px;  
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
}

.back-button {
  border: none;
  width: 120px;
  text-align: center;
  padding: 10px 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0,0,0, .2);
}

.button-dark {
  background: hsl(209, 23%, 22%);  
  color: hsl(0, 0%, 100%);
}

.button-light {
  background: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}