.search {    
  padding: 15px 0px;
  padding-left: 30px;
  display: flex;
  border-radius: 5px;
  width: 33%;
  box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}
.search-dark {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.search-light {
  background: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.search-icon {
  margin-right: 20px;
}
.search-input {  
  width: 100%;
  background: none;
  border: none;
  font-size: 1rem;
  outline: none;
  font-weight: 300;
}
.search-input-dark {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.search-input-light {
  background: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.search-input-dark::placeholder {
  color: hsl(0, 0%, 100%);
}
.search-input-light::placeholder {
  color: hsl(200, 15%, 8%);
}
@media (max-width: 520px) {
  .search {
    margin-top: 20px;
    width: 90%;    
    
  }
}