.country-borders{
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.country-borders p {
  margin: 0;
  margin-right: 10px;
  white-space: nowrap;
  font-weight: 600;  
}

.border-container{
  display: flex;  
  flex-wrap: wrap;
}

.border-link {  
  min-width: 100px;
  text-align: center;
  padding: 5px 10px;
  background: hsl(209, 23%, 22%);
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0,0,0, .2);
}


@media (max-width: 1024px) {
  .country-borders {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}