.country-data{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 10%;
  width: 90vw;
  max-width: 90vw;
  margin: 0 auto;    
}

.flag{
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
  object-fit: cover;
}

.data-country-container {
  width: 100%;
  padding: 20px 0;
}

.data-country-container-dark {
  color: hsl(0, 0%, 100%)
}

.data-country-container-light {
  color: hsl(200, 15%, 8%);
}

.details-section {
  width: 100%;
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (max-width: 780px) {
  .country-data {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    grid-gap: 0;
  }
}

@media (max-width: 520px) {
  .details-section {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}